* {
    background-color:rgb(172, 207, 191);
    padding: 1px;
}

.C {
    text-align: center;
}
.f {
    font-family:"Times new roman"
}
.imgs {
    width: 500px;
    height:auto;
}
.r {
    font-size: 100px;
    background-color: honeydew;
    color: darkolivegreen;
    border-radius: 1000px;
    border: black 3px dotted;
}